doctype html 
html 
    head 
        title SwiftKicks Taekwondo Academy 
        block scripts
        block style
    body 
        nav#navbar
            ul 
                div#logo
                    img(src="/static/img/logo1.png")
                    | STA 
                li #[a(href="/") Home] 
                li #[a(href="/about") About]
                li #[a(href="/") Services] 
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
        block content

        footer#footer
            | Copyright &#9400; 2003 SwiftkicksTaekwondoAcademy.com | All rights Reserved