extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style
        include ../static/style.css

block content 
    section#introsection 
        div Welcome to SwiftKicks Taekwondo Academy
        div.small Balance, Respect, Excellence – The Taekwondo Way

    section#missionsection
        h2 Our Mission
        div.card 
            h3  Poomase
            div.card-box
                div.card-img 
                    img(src="/static/img/taekwondo3.png")

                div.card-content
                    p Taekwondo's precise martial dance, blending defense and artistry.
        div.card 
            h3 Art's Dynamic
            div.card-box
                div.card-img 
                    img(src="/static/img/taekwondo4.png")
                    
                div.card-content
                    p High kicks and swift movements define the art's energetic style.
        div.card 
            h3 Chagi(차기) 
            div.card-box
                div.card-img 
                    img(src="/static/img/taekwondo6.png")

                div.card-content
                    p  kicks that inspire  the pulse of Victory.

    section#sponsorsection
        h2 Our Sponsors
        div#sponsors 
            //- img(src=" /static/img/pngwing.com (3).png", alt="Sponsor Image", class="spimsge")
            img(src=" /static/img/pngwing.com.png", alt="Sponsor Image", class="spimage")
            img(src=" /static/img/pngwing.com (1).png", alt="Sponsor Image", class="spimage")
            img(src=" /static/img/pngwing.com (2).png", alt="Sponsor Image", class="spimage")